
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth.json

*.log
.env*
.DS_Store
coverage/
dist/
build/

# TypeScript
*.tsbuildinfo
*.d.ts.map
*.js.map